@tailwind base;
@tailwind components;
@tailwind utilities;

canvas {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}

.popup {
  z-index: 1;
  position: absolute;
}

.font {
  color: #4B3F33;
  position: relative
}

body {
  margin: 0;
}